/*base stylings*/
:root{
    --codegreen: #659f8f;
}

/* End of Base Stylings*/

footer{
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--codegreen);
}

.container{
    padding-top:20px;
    display: flex;
   /* flex-wrap: wrap;*/
    align-items: baseline;
    border-style: none none solid none;
    border-color: red;
    border-width: 0.5px;
}

.contents{
    width:400px;
}
.quick-link, .technologies{
   width: 300px;
}

p{
    font-size: 18px;
    font-weight: bold;
}

input{
    border-radius:5px;
    border: none;
    width: 125px;
    padding:8px;
}

::placeholder{
    opacity: 1;
    color: rgba(27, 26, 26, 0.295);
}

button{
    display:inline;
    background-color: rgba(235, 90, 0, 0.785);
    border-radius: 5px;
    border: none;
    color: white;
    width: 80px;
    margin-left:10px;
    padding:10px;
  /*font-size: 8px; */
    font-size: 11px;
    font-weight: bold;
}

h4{
    margin-left: 40px;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px;
}

.logo{
    height:20px;
}

.flex{
    padding-left: 1%;
    padding-bottom: 50px;

}

img{
    margin-top: 20px;
}

/*.referance{
    width:100%;
}
*/

/* Ipad dimension */
@media (max-width: 769px){
    footer{
        padding-top: 40px;
        padding-left:40px;
        padding-bottom: 40px;
    }

    .container{
        flex-wrap: wrap;
    }

    p{
        font-size: 20px;
    }

    input{
        width:200px;
    }

    .contents{
        width:100%;
        margin-left: -8px;
    }

    .quick-link, .technologies{
        width: 40%;
        margin-left:-7%;
        padding-right: 17%;
    }

    .logo{
        height: 30px;
    }

    .flex{
        margin-left: -8px;
    }
    
}


/* Phone dimendion */
@media (max-width:376px){
    .container{
        flex-direction: column;
        padding: 10px;
    }

    button{
        margin-top: 5px;
        width:107%;
        margin-left: 0%;
    }

    input{
        width:100%;
    }

    .technologies{
        width: 100%;
        padding: 0%;
        margin: 0%;
    
    }

    .quick-link{
        width: 100%;
    }

    ul{
        padding:0%;
    }

    h4{
        margin-left: 0%;
    }
    .logo{
        height:30px;
    }

    
}